# put this file in ~/.config/systemd/user and run systemctl --user daemon-reload, then systemctl --user start fluidsynth
#
# fluidsynth config file:
#   AUDIO_DRIVER="pulseaudio"
#   OPTHER_OPTS="--gain=5 --sample-rate=48000"
#   SOUND_FONT="/usr/share/sounds/sf2/FluidR3_GM.sf2 /usr/share/sounds/sf2/FluidR3_GS.sf2 /usr/share/sounds/sf2/TimGM6mb.sf2"


[Unit]
Description=FluidSynth Daemon
Documentation=man:fluidsynth(1)
After=sound.target

[Service]
EnvironmentFile=/etc/conf.d/fluidsynth
EnvironmentFile=-%h/.config/fluidsynth
ExecStart=/usr/bin/fluidsynth --server --no-shell --audio-driver $AUDIO_DRIVER $OTHER_OPTS $SOUND_FONT

[Install]
WantedBy=multi-user.target
